body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
ul, li { list-style-type: none; }
p { margin: 0; }

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo { width: 20%;}

.top-menu { width: 60%;}

.top-feature { 
    width: 20%;
    display: flex;
    justify-content: center;
}

.top-menu ul {
    display: flex;
    justify-content: flex-end;
}
.top-menu ul li, .top-feature i{ padding: 15px; }

/* Section content */
.slide { 
    background: #edf1f3;
    display: flex; 
    align-items: center; 
    justify-content: center;
 }
 .slide p { font-size: 72px; margin-bottom: 20px; }
 .button-shop-product { 
    background: #000;
    padding: 5px 25px;
    color: #fff;
 }

 /* Services */
 .services {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
 }

 .services-item .top { display: flex; align-items: center; }
 .services-item .top p { font-weight: bold; }
 .services-item .top i { color: #72aec8; padding: 10px }
.bottom { color: #aeaeae; margin-left: 35px; }

/* Mobile products */
.mobile-products, .smart-watches, .latest-post, .review {
    width: 80%;
    margin: 50px auto;;
}

.mobile-products .header, .smart-watches .header, .latest-post .header { display: flex; align-items: center;justify-content: space-between;}
.mobile-products .header a, .smart-watches .header a, .latest-post .header a  { color: #000; }
.mobile-products .header a:hover, .smart-watches .header a:hover, .latest-post .header a:hover { text-decoration: none; }
.mobile-products .header h3, .smart-watches .header h3, .latest-post .header h3 { font-size: 32px; }

.list-product { display: flex; justify-content: space-between;}
.list-product .item { width: 23%; position: relative; }
.list-product .text { display: flex;justify-content: space-between; }
.list-product .text p { font-size: 22px; }
.list-product .text .price { color: #72aec8 }
.list-product img { width: 100%; }

.list-product .item a {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 80px);
    opacity: 0;
}
.list-product .item a:hover { background: #72aec8; }
.list-product .item:hover a {
    bottom: 50px;
    opacity: 1;
}

/* Section SALE */
.sale { background: #edf1f3; display: flex; align-items: center; }
.sale .content { padding-left: 200px; }
 .sale p { font-size: 72px; margin-bottom: 20px; }

 /* Section lastest post */
.list-post { display: flex; justify-content: space-between; }
.list-post .item { width: 31%; }
.list-post .text .date { color: #6c757d; font-size: 14px; }
.list-post .text p { font-size: 22px; }
.list-post img { width: 100%; }

/* Section review */
.review h6 { text-align: center; font-size: 200px; height: 120px; margin: 0;}
.review p { text-align: center; font-size: 35px; padding: 0 50px;}
.review .rating { text-align: center; margin: 20px 0}
.review .rating i { color: #72aec8 }
.review .reviewer { font-size: 14px; }

/* Section subscribe */
.subscribe {
    width: 80%;
    background: #212529;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
}

.subscribe .text p { color: #bebebe }
.subscribe .text h4 { color: #fff; font-size: 30px; margin: 20px 0; }
.subscribe .email { display: flex; }
.subscribe .email .input-email {
    padding: 10px;
    border: none;
    outline: none;
}
.subscribe .email .input-subscribe {
    background: #72aec8;
    padding: 10px;
    border: none;
    color: #fff;
    transition: 0.5s;
}
.subscribe .email .input-subscribe:hover { background: #212529; }

/* Section insta */
.insta h4 { text-align: center; font-size: 30px; }
.insta .row-image { display: flex; justify-content: space-between; width: 80%; margin: auto; }
.insta .row-image img { width: 19%; }

/* Footer */
footer { display: flex; width: 80%; margin: auto; justify-content: space-between; padding: 50px 0; }
.social { width: 25%; }
.social p, .social i { color: #bebebe; }
.icon-social i{ padding: 15px;}
.quick-links ul, .helps ul { padding: 0; }
.quick-links ul li, .helps ul li { padding-bottom: 10px;  }
.contact-us p { color: #bebebe; }

a { text-decoration: none; color: #000; transition: 0.5s; }
a:hover { color: #72aec8; }

/* Scroll top */
.scroll-top {
    background: #72aec8;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: 0.5s;
}
.scroll-top:hover { background: #356e87; }
